footer
  background-color: rgba(255, 255, 255, 0.9)
  font-family: 'Playfair Display', serif
  height: 90px
  p 
  color: rgb(77, 40, 0)
  .footer-wrap
    max-width: 500px
    margin: -15px auto 0px
    .footer-tagline
      text-align: center
      color: rgb(77, 40, 0)
      font:
        size: 15px
        weight: 900
    .social-media
      text-align: center
      nav
        margin: 0px
        padding: 0px
        a
          margin: 10px
          color: rgb(77, 40, 0)
          font:
            size: 15px
            weight: 700
          &:hover
            color: rgb(153, 79, 0)

