footer
  p 
  color: rgb(206, 166, 126)
  height: 130px
  .footer-wrap
    max-width: 500px
    margin: 40px auto 0px
    .footer-tagline
      text-align: center
      color: rgb(206, 166, 126)
      font:
        size: 24px
        weight: 900
    .social-media
      text-align: center
      nav
        margin: 0px
        padding: 0px
        a
          margin: 10px
          color: rgb(206, 166, 126)
          font:
            size: 12px
            weight: 700
          &:hover
            color: rgb(185, 128, 70)

